<div class="container">

    <!-- TITRE DÉBUT -->
    <div class="section-head center">
        <div class="sx-head-s-title">Nos Services</div>
        <div class="sx-head-l-title">
            <h2 class="sx-title">Nous offrons une gamme complète de services de développement informatique sur mesure pour répondre à vos besoins spécifiques</h2>
        </div>
    </div>
    <!-- TITRE FIN -->


    <div class="section-content">
        <div class="sx-our-services-bx">
            <div class="row">

                <!-- Bloc un -->
                <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                    <div class="sx-service-bx-1">
                        <div class="sx-icon-box-wraper">
                            <div class="sx-service-bx-icon scale-in-center">
                                <span class="sx-text-primary"><i class="flaticon-security"></i></span>
                            </div>
                            <div class="icon-content">
                                <h4 class="sx-tilte">Ingénierie de Produits</h4>
                                <p>Nous sommes spécialisés dans l'ingénierie de produits sur mesure pour répondre à vos besoins spécifiques. Notre équipe est dédiée à fournir des solutions de qualité pour garantir votre satisfaction.</p>
                                <div class="sx-center-btn">
                                    <a routerLink="/itsolutions/services/detail" class="site-button-circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Bloc Deux -->
                <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                    <div class="sx-service-bx-1">
                        <div class="sx-icon-box-wraper">
                            <div class="sx-service-bx-icon scale-in-center">
                                <span class="sx-text-primary"><i class="flaticon-coding"></i></span>
                            </div>
                            <div class="icon-content">
                                <h4 class="sx-tilte">Big Data & Analytics</h4>
                                <p>Nous proposons des solutions Big Data et Analytics pour vous aider à tirer le meilleur parti de vos données. Notre approche personnalisée garantit que vous obtenez des informations précieuses pour prendre des décisions éclairées.</p>
                                <div class="sx-center-btn">
                                    <a routerLink="/itsolutions/services/detail" class="site-button-circle active">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bloc Trois -->
                <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                    <div class="sx-service-bx-1">
                        <div class="sx-icon-box-wraper">
                            <div class="sx-service-bx-icon scale-in-center">
                                <span class="sx-text-primary"><i class="flaticon-smart-contracts"></i></span>
                            </div>
                            <div class="icon-content">
                                <h4 class="sx-tilte">Solutions Créatives</h4>
                                <p>Nous sommes experts dans la création de solutions innovantes pour répondre à vos défis commerciaux. Notre équipe talentueuse vous accompagne à chaque étape pour vous offrir des solutions créatives et efficaces.</p>
                                <div class="sx-center-btn">
                                    <a routerLink="/itsolutions/services/detail" class="site-button-circle">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
