<div class="section-full p-t110 p-b80 sx-why-chooseus-outer sx-bg-light bg-cover"
    style="background-image:url(assets/images/background/image7.png);">
    <div class="container">

        <!-- TITLE START -->
        <div class="section-head center">
            <div class="sx-head-s-title" style="color: white;">Nos Services</div>
            <div class="sx-head-l-title">
                <h2 class="sx-title" style="color: white;">Nous Offrons Une Gamme Complète De Services De Développement Informatique Sur Mesure Pour Répondre À Vos Besoins Spécifiques</h2>
            </div>
        </div>
        <!-- TITLE END -->


        <div class="section-content">
            <div class="sx-icon-bx-wrap">
                <div class="row">

                    <!-- Block one -->
                    <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                        <div class="sx-icon-bx-1">
                            <div class="sx-icon-box-wraper">
                                <div class="sx-icon-bx-icon ">
                                    <span class="sx-text-primary"><i class="flaticon-data"></i></span>
                                </div>
                                <div class="icon-content">
                                    <a [routerLink]="['/itsolutions/services/detail']" [fragment]="'1'">
                                        <h4 class="sx-tilte">Développement informatique sur Mesure</h4>
                                    </a>
                                    <p>Que vous ayez besoin d'une solution logicielle sur mesure pour...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Block Two -->
                    <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                        <div class="sx-icon-bx-1">
                            <div class="sx-icon-box-wraper">
                                <div class="sx-icon-bx-icon ">
                                    <span class="sx-text-primary"><i class="flaticon-programmer"></i></span>
                                </div>
                                <div class="icon-content">
                                    <a [routerLink]="['/itsolutions/services/detail']" [fragment]="'2'">
                                        <h4 class="sx-tilte">Conseil en Informatique</h4>
                                    </a>
                                    <p>Bénéficiez de notre expertise pour optimiser votre infrastructure...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Block Three -->
                    <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                        <div class="sx-icon-bx-1">
                            <div class="sx-icon-box-wraper">
                                <div class="sx-icon-bx-icon ">
                                    <span class="sx-text-primary"><i class="flaticon-positive-review"></i></span>
                                </div>
                                <div class="icon-content">
                                    <a [routerLink]="['/itsolutions/services/detail']" [fragment]="'3'">
                                        <h4 class="sx-tilte">Solutions de Cybersécurité</h4>
                                    </a>
                                    <p>Protégez vos données précieuses et sécurisez votre entreprise contre...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Block Four -->
                    <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                        <div class="sx-icon-bx-1">
                            <div class="sx-icon-box-wraper">
                                <div class="sx-icon-bx-icon ">
                                    <span class="sx-text-primary"><i class="flaticon-profit"></i></span>
                                </div>
                                <div class="icon-content">
                                    <a [routerLink]="['/itsolutions/services/detail']" [fragment]="'4'">
                                        <h4 class="sx-tilte">Services Cloud</h4>
                                    </a>
                                    <p>Adoptez l'agilité et la scalabilité du cloud avec notre gamme de services cloud...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Block Five -->
                    <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                        <div class="sx-icon-bx-1">
                            <div class="sx-icon-box-wraper">
                                <div class="sx-icon-bx-icon ">
                                    <span class="sx-text-primary"><i class="flaticon-chart"></i></span>
                                </div>
                                <div class="icon-content">
                                    <a [routerLink]="['/itsolutions/services/detail']" [fragment]="'5'">
                                        <h4 class="sx-tilte">Services Informatiques Gérés</h4>
                                    </a>
                                    <p>Concentrez-vous sur votre cœur de métier pendant que nous nous occupons...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Block SIx -->
                    <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                        <div class="sx-icon-bx-1">
                            <div class="sx-icon-box-wraper">
                                <div class="sx-icon-bx-icon ">
                                    <span class="sx-text-primary"><i class="flaticon-technology"></i></span>
                                </div>
                                <div class="icon-content">
                                    <a [routerLink]="['/itsolutions/services/detail']" [fragment]="'6'">
                                        <h4 class="sx-tilte">Développement d'Applications Mobiles</h4>
                                    </a>
                                    <p>Restez connecté avec vos clients en déplacement grâce à nos services...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>