<div class="page-wraper">

    <!-- HEADER START -->
    <app-header1></app-header1>
    <!-- HEADER END -->

    <!-- CONTENT START -->
    <div class="page-content">

        <ng-container *ngIf="!router.url.includes('company/contact')">
            <app-banner *ngIf="(_data | json) != '{}'" [data]="_data"></app-banner>
        </ng-container>

        <router-outlet></router-outlet>

    </div>
    <!-- CONTENT END -->

    <!-- FOOTER START -->
    <app-footer1></app-footer1>
    <!-- FOOTER END -->

</div>